version: '2'

services:
    docker_proxy:
        image: nginx:latest
        restart: always
        ports:
            - "80:80"
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf
             
    backend:
        image: nginx:latest
        links:
            - docker_proxy
        ports:
            - "8080:80"
        volumes:
            - ./server/src:/app
            - ./nginx/site.conf:/etc/nginx/conf.d/default.conf
        # networks:
        #     - code-network
    php:
        build: ./server/src/
        volumes:
            - ./server/src:/app
        # networks:
        #     - code-network

    composer:
        image: composer:1.8.6
        command: bash -c "composer install && composer dump-autoload -o"
        volumes:
            - ./server/src:/app

    db:
        image: mariadb
        ports:
            - '3306:3306'
        command: --init-file /init.sql
        volumes:
            - ./server/sql/setup.sql:/init.sql
        environment:
            - MYSQL_ROOT_PASSWORD=1234

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: phpmyadmin
        environment:
            - PMA_HOST=db
        restart: always
        ports:
            - 8081:80
        volumes:
            - /sessions
        links:
            - db 
            - docker_proxy

        

# networks:
#     code-network:
#         driver: bridge
